//$width: 2150px;
$width: 2550px;
$height: 3300px;

$colorTitle: #d91800;
$colorText: #060808;;
$colorSphere: #8dd4da;
$colorSphereSmall: #b6c500;

$fontTitle: 'nevis-Bold';
$fontText: 'TrebuchetMS-Bold';
$fontHeader:  $fontTitle;
