@font-face {
  font-family: 'nevis-Bold';
  src: url('fonts/nevis-Bold/nevis-Bold.eot?#iefix') format('embedded-opentype'),
  		url('fonts/nevis-Bold/nevis-Bold.woff') format('woff'), url('nevis-Bold.ttf')  format('truetype'),
  		url('fonts/nevis-Bold/nevis-Bold.svg#nevis-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TrebuchetMS-Bold';
  src: url('fonts/TrebuchetMS-Bold/TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'),
    	url('fonts/TrebuchetMS-Bold/TrebuchetMS-Bold.woff') format('woff'), url('TrebuchetMS-Bold.ttf')  format('truetype'),
    	url('fonts/TrebuchetMS-Bold/TrebuchetMS-Bold.svg#TrebuchetMS-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}