.header {
	display: flex;
	justify-content: space-between;
	position: relative;
	background: radial-gradient(#e7bf20, #D2A224);
	box-shadow: inset 0px 0px 30px 1px rgba(0, 0, 0, .1);
	z-index: 10;
	overflow: hidden;
	&__row {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-size: cover;
		box-sizing: border-box;
		width: 100%;
		padding: 75px / $width * 100% 0 84px / $width * 100%;
		z-index: 5;
	}
	&__title {
		// font-size: 313px / $width * 100vw;
		font-size: 9.27451vw;
		text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
		color: #fff;
		font-family: $fontHeader;
		font-weight: 700;
		text-transform: uppercase;
	}
	&__subtitle {
		@extend .header__title;
		// font-size: 146px / $width * 100vw;
		font-size: 5.72549vw;
	}
	&__skew-blok {
		height: 100%;
		width: 40%;
		position: absolute;
	}
}
.skew-blok {
	&_right {
		top: 0;
		right: 0;
		display: flex;
		justify-content: flex-end;
	}	
	&_left{
		top: 0;
		left: 0;
		display: flex;
		justify-content: flex-end;
	}	
	&__skew-elem {
		height: 100%;
		&_big-right {
			background:#739d1d;
			width: 80%;
			z-index: 3;
			transform: skewX(45deg);
			margin-right: 5vw;
			animation: upBig 1.5s linear;
			will-change: transform;
		}
		&_small-right {
			background:#b0c33f;
			width: 44%;
			margin: 0 auto;
			animation: upSmall 1s 1.6s linear forwards;
			opacity: 0;
			will-change: transform, opacity;
		}
		&_big-left {
			background: linear-gradient(0deg, #378A18, #8cab14, #378A18);
			width: 30%;
			z-index: 2;
			transform: skewX(45deg);
			margin: 0 2vw;
			order: 1;
			animation: leftBig 2.5s 2.7s linear forwards;
			opacity: 0;
			will-change: transform, opacity;
		}
		&_small-left {
			background:#8cab14;
			width: 10%;
			z-index: 1;
			transform: skewX(45deg);
			margin: 0;
			opacity: 0;
			animation: leftSmall .7s 5.3s linear forwards;
			will-change: transform, opacity;
			background: linear-gradient(0deg, #378A18, #8cab14, #378A18);
		}
	}
}
@keyframes upBig {
	0% {
		transform: skewX(45deg) translateY(100%);
	}
	100% {
		transform: skewX(45deg) translateY(0);
	}
}
@keyframes upSmall {
	0% {
		opacity: 1;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes leftBig {
	0% {
		transform: skewX(45deg) translateX(40vw);
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: skewX(45deg) translateX(0vw);
	}
}
@keyframes leftSmall {
	0% {
		transform: skewX(45deg) translateX(5vw);
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: skewX(45deg) translateXS(0vw);
	}
}